header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
}

h1 {
    align-items: start;
    font-weight: 500;
}

a {
    padding: 0 10px;
    text-decoration: none;
    color: black;
}

a:hover, a:active {
    text-decoration: underline 1px black;
}