body * {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: black;
    text-decoration: none;
    font-family: Roboto serif;

}

header {
    height: 70px;
    flex-direction: row;
}

header *{
    width: 50%;
}

header p {
    align-items: start;
    margin-left: 10px;
    font-size: 30px;
}

header nav ul {
    width: 100%;
    flex-direction: row;
}

header nav ul :hover{
    background-color: aqua;
    color: brown;
}

header nav ul li a {
    width: 80%;
}
main {
    background-color: bisque;
}

.portrait {
    position: relative;
}

.portrait img {
    object-fit: cover;
    object-position: center;
    z-index: 0;
}

.portrait h1 {
    position: absolute;
    height: fit-content;
    width: fit-content;
    font-size: 50px;
    color: white;
    right: 50px;
}

#about ,#formation ,#projetperso ,#mecontacter {
    width: 90%;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
    margin: 20px;
    padding: 20px;
    background-color: lightcyan;
}

h2 {
    margin: 10px;
    align-items: start;
    font-size: 50px;
    font-weight: 700;
    text-decoration: underline;
}

h3 {
    align-items: start;
    font-size: 30px;
    font-weight: 500;
    margin: 10px 0 10px 100px;
}

.presentation {
    flex-direction: row;
}

.presentation img {
    width: 50%;
    padding:30px;
}

.presentation p {
    padding: 50px;
    font-size: 20px;
}

.html img {
    height: 25em;
    width: auto;
    border-radius: 15px;
    margin: 5px 0;
}

.riding_compare {
    flex-direction: row;
}

.riding_compare i {
    font-size: 50px;
    display: flex;
    justify-content: center;
}









#projetperso i {
    margin: 50px;
    font-size: 300px;
    display: flex;
    justify-content: center;
    animation: cog 2s ease-in-out 6s infinite normal none;
}

@keyframes cog {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

#projetperso p {
    margin: 30px 0;
    font-size: 50px;
}


footer{
    height: 50px;
    border-top: solid 1px;
    border-color: black;
    background-color: aqua;
}

.up {
    height: auto;
    width: auto;
    position: fixed;
    bottom : 10px;
    right: 10px;
    opacity: 0.5;
    align-items: center;
}

.up i {
    position: relative;
    font-size: 50px;
}
