#cv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cv h2 {
    padding: 10px;
    display: flex;
    justify-content: center;
}

#cv article {
    padding: 15px;
}

#cv li {
    padding: 2px;
}

#cv a {
    padding: 0;
    font-size: 1.5vw;
    font-weight: 600;
    color: black;
    display: flex;
    justify-content: center;
}

@media (max-width: 768.98px) {
    #cv {
        flex-wrap: balance;
    }
}