main {
  display: grid;
  grid-template-columns: 3fr;
  grid-template-rows: 3fr;
  padding: 15px;
}

section {
  display: flex;
  flex-direction: row;
  border-radius: 50px;
}

#profile {
  background-image: url("./assets/fond_6.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 1;
  grid-row: 1;
}

#site {
  background-image: url("./assets/fond_4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 2;
  grid-row: 1;
}

#compétences {
  background-image: url("./assets/fond_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 1 / 3;
  grid-row: 2;
}

.me {
  background-image: url("./assets/fond_3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 1;
  grid-row: 3;
}

.about {
  background-image: url("./assets/fond_3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 2;
  grid-row: 3;
  display: flex;
  flex-direction: row;
}

@media (max-width: 768.98px){
  main {
    grid-template-columns: 1fr;
    grid-template-rows: 5fr;
  }

  #profile {
    grid-column: 1;
    grid-row: 1;
    min-height: 25em;
  }

  #site {
    grid-column: 1;
    grid-row: 2;
  }

  #compétences {
    grid-column: 1;
    grid-row: 3;
  }

  .me {
    grid-column: 1;
    grid-row: 4;
    flex-direction: column;
  }

  .about {
    grid-column: 1;
    grid-row: 5;
    flex-direction: column;
  }

  section {
    padding: 15px 0;
  }

}