body {
  background-image: url("./assets/fond_desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 1.5vw;
  font-family: "EB Garamond", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Black Ops One", system-ui;
}

h1 {
  font-size: 5vw;
}

h2 {
  font-size: 4vw;
  text-decoration: underline black 2px;
}

h3 {
  font-size: 3vw;
  padding: 5px;
}

h4 {
  font-size: 2vw;
}

@media (max-width: 768.98px){
  body {
    background-image: url("./assets/fond_mobile.png");
  }
}