#profile article {
    width: 50%;
    display: flex;
    justify-content: center;
}

.profilepicture {
    align-items: center;
    position: relative;
}

.fond {
    position: absolute;
    z-index: 1;
    max-width: 100%;
}

.picture{
    position: absolute;
    max-width:70%;
}

.competences{
    font-size: 2vw;
    display: flex;
    flex-direction: column;
}

.competences div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.competences div i {
    height: 2vw;
    width: 2vw;
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768.98px){
    .fond{
        max-width: 70%;
    }

    .picture {
        max-width:50%;
    }
}