.interet {
    height: 100%;
    width: 100%;
}

.interet h2{
    color: black;
    display: flex;
    justify-content: start;
}

.interets {
    height: 80%;
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.interets div {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5vw;
    height: 32%;
    width: 50%;
}
.interets i {
    height: 2vw;
    width: 2vw;
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
